apiVersion: v1
kind: ConfigMap
metadata:
  name: test-configmap
data:

  HOMEPATH: {{ env.homepath }}
  PROCESSOR: {{ env.processor_identifier | b64encode }}
  SYSTEMROOT: {{ env.systemroot | b64encode }}
